    <div class="copyright">
        <p><i class="fa-regular fa-copyright"></i> 2025 Sanjil Shahi - All Rights Reserved.</p>
    </div>
<script>
    var sidemenu = document.getElementById("sidemenu");
    function openmenu(){ sidemenu.style.right = "0"; }
    function closemenu(){ sidemenu.style.right = "-200px"; }
</script>
</body>
</html>

